* {
    box-sizing: border-box;
}

#root {
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;

    position: sticky;
    top: 0;

    background-color: #0073e6;
    border: solid white;

    font-size: large;
}

header button {
    height: 50px;
    margin: auto 5px auto 0;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 10px;

    list-style-type: none;
}

nav a {
    font-weight: bold;
    color: white;
}

nav a:hover {
    font-weight: 900;
    color: yellow;
}

main {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;
    color: black;
}

main p {
    text-indent: 50px;
}

main img {
    display: block;
    margin: 0 auto;
    max-height: 500px;
}

form {
    width: 50%;
    margin: 10vh auto;
    padding: 10px;
    background-color: aliceblue;
    border: 1px solid black;
} 

form h2 {
    text-align: center;
}

form input {
    width: 100%;
    margin: 5px 0;
    padding: 5px;
}

form button {
    width: 100%;
    margin: 5px 0;
    padding: 5px;
    background-color: #0073e6;
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;

    padding: 5px;

    background-color: #0073e6;
    border: solid white;
    color: white;

    text-align: center;
}

.chart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart > * {
    width: 90% !important;
    height: min-content !important;
    max-height: 500px;
}